<!DOCTYPE HTML>

<html>
    <head>
        <title> Bitcoin </title>
    </head>
    <body>
        <h1> 현재 주요 코인의 가격 </h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Bitcoin : {{ coins[0] }}₩</li>
            <li class="list-group-item">Ethereum : {{ coins[1] }}₩</li>
            <li class="list-group-item">Ada : {{ coins[2] }}₩</li>
            <li class="list-group-item">XRP : {{ coins[3] }}₩</li>
            <li class="list-group-item">Polcadot : {{ coins[4] }}₩</li>
          </ul>
    </body>
</html>