<!DOCTYPE HTML>

<html>
    <head>
        <title> my wallet </title>
    </head>
    <body>
        <h1> 나의 계좌 상황 </h1>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item">현재 보유 자산 : {{wallet[0]}}</li>
            <li class="list-group-item">현재 보유 종목 : {{wallet[1]}}</li>
            <li class="list-group-item">주문 총 평단가 : {{wallet[2]}}</li>
            <li class="list-group-item">주문 가능한 보유 원화 : {{wallet[3]}}</li>
            <li class="list-group-item">수익률 : {{wallet[4]}}</li>
        </ol>
    </body>
</html>


